body {
  background-color: black;
  color: #f9f9f9;
}
a {
  text-decoration: none;
}
.nav-link:hover {
  color: #646cff !important;
}
nav {
  background-color: black !important;
}
.movie-detail {
  height: 90vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f9f9f9;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
